* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background: linear-gradient(to right, #78b349, #ffd166);
}

#otherStuff {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 60%;
}

.navStyles {
    border-radius: 5px;
    border: solid 1px #111;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 26%;

    /* padding: 8px 8px; */
    /* margin: 0px 2rem; */
}

#searchOption {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#searchOption i {
    padding-left: 11px;

}

#searchOption input {
    height: 90%;
    width: 85%;
    padding-right: 0%;
    text-align: center;
    border: none;
    background-color: transparent;

}

#searchBar:focus {
    outline: none;
}

.cursorPointer {
    cursor: pointer;
}

#displayDish {
    display: flex;
    flex-wrap: wrap;
    /* margin: 2rem 1rem; */
    /* padding: 2rem 2rem; */
    justify-content: center;
    width: 100%;
    /* background-color: chartreuse; */
    /* overflow: auto; or overflow: hidden; */

}

.card {
    font-weight: 600;
    height: 25rem;
    width: 20rem;
    margin: 2rem 2rem;
    background: linear-gradient(to bottom, #78b349, #ffd166);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: black;
}

.dishImage {
    height: 10rem;
    width: 15rem;
    border-radius: 50%;
    /* background-color: cadetblue; */
    object-fit: cover;
    object-position: center;

}

.dishImage img {
    height: 100%;
    width: 100%;
    border: solid red 2px;
    border-radius: 50%;
}

p {
    height: 8rem;
    overflow: hidden;
}



#loadingSection {
    width: 100%;
    height: 15rem;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    visibility: visible;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    background: #fff;
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 24px solid #FF3D00;
    animation: prixClipFix 2s infinite linear;
}
@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}

.favButton {
    height: 3rem;
    /* width: 3rem; */
    border-radius: 5px;
    padding: 2px 3px;
    cursor: pointer;
}